
h1, h2, h3, h4, h5, h6 {
    font-family: "Inter Tight";
} 
p, li, a, span, label {
font-family: 'Inter';
} 
a{
    text-decoration: none;
    color: #000;
}
p{
    line-height: 28px;
}
.navbar-expand-sm .navbar-nav .nav-link{
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
}
a:hover{
    color:#000;
}
.body-clr{
    background-color: #FBF1EC !important;
}
.header-sec{
    background-color: #fff;
    padding-bottom: 40px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.logo {
    width:320px;
    padding-top: 25px !important;
    padding-bottom: 25px;
}
.menu-item li{
    font-size: 18px;
    padding:0px 0px 0px 20px;
    font-family: intera;   
}
.menu-item a{
    color: #000;
}
.menu-item a:hover{
    color: #F86309;
}
.footer-sec a:hover{
    color: #F86309;
}
.active{
    color: #F86309 !important;
    border-bottom:2px solid #7FA738;
    background: #fff !important;  
}

/* .navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: space-around;
} */
.sign-up{
    margin-left: 40px;
    border:2px solid #000;
    background-color: transparent;
    border-radius: 5px;
    padding: 8px 33px;
    font-size: 16px;
    font-family: 'Inter Tight';
    font-weight: 600;

}
.sign-in {
    /*   */
    border:2px solid #000;
    background-color: #7FA738;
    border-radius: 5px;
    padding: 8px 33px;
    color: #fff;
    font-size: 16px;
    font-family: 'Inter Tight';
    font-weight: 600;
}
.banner {
    background-image:url(../assests/img/banner.home.jpg);
    background-repeat: no-repeat;
    height: 687px;
    /* background-size: contain; */
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin: auto;
    border-radius: 20px;
    
}
.banner-title h1{
    padding-top: 35%;
    color: #fff;
    letter-spacing: .05cm; 
    font-size: 64px;
    padding-left: 4%;
    font-weight: 600;
}
.footer-sec h5 {
    font-size: 16px;
    opacity: .8;
    padding-top: 5px;
}

.navbar-expand-sm .navbar-nav .nav-link{
    font-size: 18px;
}
.navbar-expand-sm {
    padding-top: 0;
}
.top-sec{
    background-color: #fff;
    margin-top: 40px;
    padding-top: 150px;
    border-radius: 25px;
    padding-right: 40px;
    padding-left: 40px;
}
.top-sec h5{
    letter-spacing: .02cm;

}
.top-sec h2{
    font-size: 44px;
    letter-spacing: .02cm;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 10px;
}

.wd-60 {
    width:80%;
    margin: auto;
    text-align: center;
}
.container{
    max-width: 1460px !important;
}
.top-sec p{
  opacity: .8;
  line-height: 25px;
}
.top-sec a{
    font-weight: 600;
    text-decoration: underline;
}
.top-sec h3{
    padding-top: 10px;
    font-weight: 600;
    font-size: 26px;

}
.top-box {
    background-color: #FBF1EC;
    width: 32%;
    margin: auto;
    border-radius: 25px;
    padding: 35px;
    margin-top: 20px;
    min-height: 350px;
}
.text-center-css {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-abt-us {
    background-color: #fff;
    margin-top: 40px;
    padding-top: 30px;
    border-radius: 25px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
}
.home-abt-us img{
    width: 100%;
}
.abt-sec-left {
    padding: 100px 50px 100px 50px;
  
}
.top-box:hover {
    scale: 1.01;
    transition: .2s;
}
.abt-sec-left h1{
    font-weight: 600;
    font-size: 48px;
}
.abt-sec-left p{
    font-size: 18px;
    opacity: .8;
}
.ml-0{
    margin-left:0;
}

.dd-sec a{
    font-size: 14px;
    border-bottom: 1px solid #e0dede;
    padding: 15px;
}
.dd-sec a:hover{
    font-size: 14px;
    border-left: 5px solid #522D6E;
    padding-left: 15px;
    transition: .3s;
    background-color: transparent;
}
.dd-sec li{
    padding-left: 0 !important;
}
.ml-50{
    margin-left: 10px;
}
.phone-icon img{
    width: 40px;
}
.contact-no h5{
    font-size: 14px;
    margin-bottom: 0;
}
.contact-no a{
    font-size: 16px;
}
.pb-10{
    padding-bottom: 10px !important;
}
.wd-60 p{
    font-size: 18px;
    padding-bottom: 50px;
    line-height: 28px;
}
.wd-48 {
    width: 46%;
    
}
.wd-15{
    width: 16%;
    
}
.pb-45{
    padding-bottom: 45px !important;
}
.dsf {
    background-color: #FBF1EC;
    padding: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dsf:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    scale: 1.01;
    transition: .3s;
}
.dsf-inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    flex-wrap: wrap;
    border-bottom: 2px solid #F3DED4;
    align-items: center;
}
.wd-22{
    width: 22px;
}
.dsf-inner h3{
    padding-top: 0;
}
.dsf p{
   padding-top: 40px;
   padding-bottom: 40px;
   font-size: 18px;
}
.home-strip {
    padding-top: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.home-strip img{
    width: 100%;
  
}
.carousel-container {
    text-align: center;
    padding-top: 150px;
  }
  
  .carousel-container h2 {
    font-size: 46px;
    margin-bottom: 60px;
    font-weight: 600;
  }
  .abt-top-sec{
    text-align: center;
  }
  .carousel {
    overflow: hidden;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
  }
  
  .carousel-track {
    display: flex;
    animation: scroll 25s linear infinite;
  }
  
  .carousel-item {
    margin: 0 10px;
    flex-shrink: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carousel-item {
    width: 200px;
    height: 130px;
  }
  
  .carousel-item img {
    width: 100%;
    
    padding: 5px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .contact-sec h2{
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .contact-sec p{
    text-align: left;
    font-size: 18px;
  }
  .pt-130 {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .form-container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #777;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    border-bottom: 3px solid #E9DBD4;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
    padding-bottom: 12px;
    padding-top: 12px;
    opacity: .9;
}
.form-control {
    font-size: 18px;
    font-weight: 600;
}
.pb-100{
    padding-bottom: 100px;
}
.vs-lt img{
    border-radius: 20px;
}
textarea:focus {
    border-color: #F47820 !important;
    box-shadow: 0 0 5px #F47820 !important;
}
input:focus{
    border-color: #F47820 !important;
    box-shadow: 0 0 5px #F47820 !important;
}
.form-select:focus{
    border-color: #F47820 !important;
    box-shadow: 0 0 5px #F47820 !important;
}
textarea {
    resize: none;
}

.submit-button {
    margin-top: 5px;
    padding: 10px 15px;
    background-color: #7FA738;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 120px;
    border: 3px solid #000;
    font-family: 'Inter Tight';
    transition: .2s;

}

.submit-button:hover {
    background-color: #F47820;
    border: 3px solid #F47820;
    transition: .2s;
}
.contact-sec-left{
    padding-right: 200px;
}
.btm-sec-app{
    background-image: url(../assests/img/bottom-bg-n.png);
    background-repeat: no-repeat;
    height: 480px;
    background-size: contain;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    margin-top: 40px;
}
.btm-sec-app:hover{
    background-image: url(../assests/img/bottom-bg-h.png);
    transition: opacity 0.5s ease-in-out;
}
.btm-sec-app h2{
    color: #fff;
    margin-bottom: 10px;
}
.btm-sec-app p{
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
}
.lp-sin {
    color: #000;
    border: 1px solid #f5f3f3;
    border-radius: 7px;
    margin-right: 10px;
    width: 185px;
    padding: 8px 8px 0 8px;
    background-color: transparent   ;
}
.app-btn {
    display: flex;
    justify-content: center;
}
.app-logo {
    width: 20%;
    float: left;
    font-size: 30px;
    color: #fff;
}
.app-text p{
    padding-bottom: 0 !important;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
}
.app-logo i {
    font-size: 40px;
}
.app-logo img{
    width: 40px;
    margin-top: -8px;
}
.app-text {
    width: 80%;
    float: right;
    text-align: left;
    padding-left: 10px;
    color: #fff;
}
.mt-130{
    margin-top: 130px;
}
.footer-sec{
    text-align: left;
    background-color: #fff;
    padding: 60px 40px 50px 40px;
    margin-top: 20px;
    border-radius: 25px;
}
.pl-35{
    padding-left: 45px;
}
.pl-380{
    padding-left: 30px;
}
.footer-sec h4{
    font-weight: 600;
    color: #F47820;
    padding-top: 5px;
}
.footer-sec span{
    color: #000;
}
.footer-sec a{
    opacity: .8;
}
.footer-sec p{
    margin-bottom: 7px;
    font-weight: 600;

}
.footer-sec ul li{
    list-style: none;
    opacity: .7;
    line-height: 28px;
}
.footer-sec ul{
    padding-left: 0;
}
.text-al-rt{
    text-align: right;
    padding-top: 15px;
}
.text-al-lt{
    text-align: left;
    padding-top: 15px;
}
.cr-sec p{
    font-size: 14px;
    text-align: center;
}
.top-box-logi-con label{
    color: #F47820;
    font-weight: 500;
}


/* About Us */

.banner-about {
    background-image: url(../assests/img/about-banner.png);
}
.wd-80 {
    width: 90%;
    margin: auto;
}
.wd-80 h2{
    font-size: 36px;
    padding-bottom: 10px;
}
.pt-75{
    padding-top: 75px;
    padding-bottom: 75px;
}
.pt-90{
    padding-top: 90px;
    padding-bottom: 50px;
}
.abt-strip img{
    width: 100%;
}
.mission {
    padding-top: 110px;   
}
.mission h2{
    font-size: 44px;
    font-weight: 600;
    letter-spacing: .02cm;
}
.vs-rt {
    background-color: #fff;
    padding: 150px;
    border-radius: 20px;
}
.vs-lt{
    
}
.vs-lt img{
    width: 100%;
}
.pt-80{
    padding-top: 80px;
}
.pb-50{
    padding-bottom: 50px;
}

/* Logistics Services */

.top-box-logi {
    background-color: #FBF1EC;
    width: 23%;
    margin: auto;
    border-radius: 25px;
    padding: 25px;
    margin-top: 70px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    transition: .3s;
}
.top-box-logi:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    scale: 1.01;
    transition: .3s;
}
.top-box-logi h3 {
    font-size: 26px;
}
.top-box-logi a{
    padding-bottom: 30px;
}
.top-box-logi img{
    width: 80px;
}
.wd-80 p{
    font-size: 18px;
    line-height: 28px;
}
.pb-40{
    padding-bottom: 40px;
}
.service-desk {
    padding-bottom: 100px;
}
.service-desk h2{
    padding-top: 50px;
    padding-bottom: 50px;
}
.bd-tb {
    border-top: 1px solid #d1cece;
    border-bottom: 1px solid #d1cece;
}
.pbt-50{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}
.bd-b{
    border-bottom: 1px solid #d1cece;
}

/* Shipping Providers */

.shipping-sec {
    background-image: linear-gradient(#ffffff, #FBF1EC);
}

.banner-shipping {
    background-image: url(../assests/img/shipping-banner.png);
    height: 180px;
}
.banner-shipping h1 {
    padding-top: 4%;
    text-align: center;
    padding-left: 0;
    font-size: 52px;
}
.text-center-css h2{
    font-size: 40px;
    padding-bottom: 50px;
}
.search-input{
    padding: 17px 30px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
  }
  .search-button-filler{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
    background-color:#7FA738;
    transition: background 0.3s;
    margin-right: 4px;
    border-radius: 10px;
    font-family: 'Inter Tight';
    letter-spacing: .02cm;
    margin-bottom: 20px;
  }
  .filter.show {
    display: block;
}
  .search-button {
    padding: 12px 50px;
    border: none;
    cursor: pointer;
    color: white;
    background: linear-gradient(to right, black, #7FA738);
    transition: background 0.3s;
    margin-right: 4px;
    border-radius: 50px;
    font-family: 'Inter Tight';
    letter-spacing: .02cm;
  }
  .search-button:hover {
    background: linear-gradient(to right, #7FA738, black);
  }
  .custom-accordion .accordion-button {
    color: #93278F;
    font-weight:600;
    background-color: transparent;
    border-bottom: 1px solid #dad8d8;
    font-size: 18px;
}
.prmgt-rc {
    padding: 32px;
    border-radius: 20px;
    max-height: 485px; 
    /* margin-left: 1px;
    margin-right: 1px; */
}
.mb-10{
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid #ecd9cc;
}
.prmgt-rc p{
    opacity: .8;
}
.prmgt-rc li{
  opacity: .8;
    font-size: 18px;
}
.form-control {
    border-radius: 0;
    border: 3px solid #E9DBD4;
}
.modal{
    --bs-modal-width: 780px;
}
.modal-body {
    padding:  20px 40px;
}
.modal-header {
   padding-left: 36px;
}
.prmgt-rc ul{
    padding-left: 15px;
}
.form-select {
    border-bottom: 3px solid #E9DBD4 !important;
    border-radius: 0;
    border: 0;
}

  .service-row img{
    max-width: 200px;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  }
  .pad-ex{
    padding: 0;
    border-radius: 10px;
    width: 85%;
    margin: auto;
  }
.service-row{
    padding: 10px 10px;
    align-items: center;
    min-height: 140px;
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 10px; 
    
}
.service-row:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    scale: 1.01;
    transition: .2s;
}
.service-row a{
    text-decoration: underline;
}

.plr-50{
    padding-left: 50px;
    padding-right:50px;
    border-right: 2px solid #E1D3CC;
    min-height: 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bd-n{
    border: none;
}

/* View-services */
.service-inner-left{
    background-color: #fff;
    padding: 50px 140px;
    border-radius: 20px;
}
.service-inner-left img{
    width: 100%;
}
.service-inner-right{
    padding: 70px;
    padding-bottom: 0;
}
.service-inner-right p{
    opacity: .8;
}
.service-inner-right h6{
    opacity: .8;
    font-size: 18px;
    padding-top: 10px;
}
.service-inner-right h5{
    padding-bottom: 60px;
    font-size: 22px;
    letter-spacing: .02cm;
    
}
.pt-60{
    padding-top: 50px !important;
}
.service-inner-right img{
    width: 130px;
}
.service-inner-right ul{
    padding-left: 15px;
    opacity: .8;
}
.border-tb{
    border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
}
.pt-80{
    padding-top: 80px;
    padding-bottom: 20px;
}
.service-details {
    background-color: #fff;
    width: 23.5%;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}
.service-details:hover {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);    
    scale: 1.01;
    transition: .3s;
}
.service-details a:hover{
    color: #F47820;
}
.service-details img{
    padding: 80px 50px;
}
.pad-all-30{
    padding: 25px;
}
.service-details p{
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 20px;
}
.mt-150{
    margin-top: 150px;
}

/* How it works */
.banner-hiw{
    background-image: url(../assests/img/hiw-banner.png);
}
.middle-hiw-img{
    border-radius: 30px;
}
.middle-hiw-img img{
    width: 100%;
    border-radius: 20px;
}
.abt-strip img{
    border-radius: 20px;
}
.home-strip img{
    border-radius: 20px;
}
.abt-sec-right img{
    border-radius: 20px;
}
.middle-hiw-txt{
    background-color: #ffffff;
    border-radius: 20px;
    padding: 90px 120px 45px 110px;
}
.middle-hiw-txt h1{
    padding-bottom: 60px;
    letter-spacing: .02cm;
}
.middle-hiw-txt p{
    font-size: 18px;
    opacity: .8;
}
    .middle-hiw-txt-r {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 90px 80px 45px 80px;
    }

    .middle-hiw-txt-r h1{
        padding-bottom: 80px;
        letter-spacing: .02cm;
    }
    .middle-hiw-txt-r p{
        font-size: 18px;
        opacity: .8;
    }
    .wd-47{
        width: 48%;
        margin: auto;
        transition: .3s;
    }
    .wd-47:hover{
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        scale: 1.01;
        transition: .3s;
    }
    .pad-lr {
        padding-left: 0;
        padding-right: 0;
    }
    .mtb-0{
        margin-top: 0;
        margin-bottom: 0;
    }
    .mb-50{
        margin-bottom: 50px;
    }
    .pt-50{
        padding-top: 50px;
    }

    /* Contact */
    .banner-contact{
        background-image: url(../assests/img/contact-banner.png);
    }

    .top-box-logi-con {
        background-color: #FBF1EC;
        width: 24%;
        margin: auto;
        border-radius: 25px;
        padding: 30px;
        margin-top: 40px;
        text-align: center;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
        min-height: 276px;
    }
    .footer-sec label {
        font-weight: 500;
        font-size: 14px;
        padding-top: 5px;
        color: #000;
        opacity: .8;
    
    }
    .contact-team h3{
        text-align: center;
        font-size: 32px;
        color: #F86309;
        padding-top: 40px;
    }
    .contact-team a{
        text-decoration: none;
        
    }
.top-box-logi-con p{
    opacity: 1;
    margin-bottom: 4px;
    font-size: 16px;
}
.top-box-logi-con i{
    color: #7FA738;
    font-size: 50px;
    padding-bottom: 10px;
}
.top-box-logi-con a{
    text-decoration: none;
    font-size: 20px;
}
.top-sec-con {
    /* background-image: url(../assests/img/contact-bg.png); */
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    border-radius: 25px;
    padding-right: 40px;
    padding-left: 40px;
    margin-bottom: 20px;
}
.address-sec{
    padding: 100px;
    background-color: #FBF1EC;
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.address-sec i{
    color: #7FA738;
    font-size: 26px;
}
.testimonial-sec{
    text-align: center;
}
.testimonial-slider {
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  .stars {
    color: gold;
    font-size: 28px;
    margin: 5px 0;
}
  
  .testimonial-track {
    display: flex;
    transition: transform 0.5s ease;
    width:80%;
    margin: auto;
  }
  
  .testimonial-item {
    flex: 1 0 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .testimonial-item.active {
    opacity: .6 !important;
    background-color: transparent !important;
    color: #000 !important;
  }
  
  .client-name {
    margin-top: 1rem;
    font-weight: bold;
    font-style: italic;
  }
  
  .testimonial-indicators {
    text-align: center;
    margin-top: 1rem;
  }
  
  .dot {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 6px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot.active {
    background-color: #7FA738 !important;
    opacity: 1 !important;
  }
  
.address-sec h4{
    font-size: 28px;
}
.mar-top-21 {
    margin-top: 15px;
}
.mar-top-15{
    margin-top: 10px;
}
.address-sec p{
    font-size: 20px;
    line-height: 30px;
}
.maps {
    margin-top: 60px;
    border-radius: 25px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}
.form-container-con {
    width: 80%;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    margin: auto;
    padding-bottom: 90px;
    
}
.form-container-con h1 {
    text-align: center;
    color: #000;
}
.form-container-con p{
    text-align: center;
    color: #000;
    opacity: .7;
    padding-bottom: 50px;
}
.bg-none{
    background-color: transparent;
color: #ffffff !important;
}


/* Hover Effects */

.sign-up:hover {
    background-color: #F86309;
    color: #fff;
    transition: .3s;
    border: 2px solid #F86309;
}
.sign-in:hover {
    background-color: #F86309;
    color: #fff;
    transition: .3s;
    border: 2px solid #F86309;
}
.dsf:hover .wd-22 {
    transform: rotate(45deg);
    transition: .5s;
}
.top-sec a:hover{
    color: #F86309;
}
.top-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s;
}
.service-row a:hover{
    color: #F86309;
}

/* Responsive CSS */
@media only screen and (max-width: 768px) {
    /* h1, h2, h3, h4, h5, h6 {
        font-size: calc(100% - 10px);
    }
    p, li, a, span, label {
        font-size: calc(100% - 5px);
    } */
    .menu-item li {
        font-size: 16px;
        padding: 10px 0;
    }
    .menu-item a {
        font-size: 14px;
    }
    .address-sec {
        padding: 40px;
    }
    .contact-team a {
        font-size: 22px;
    }
    .footer-sec label {
        font-size: 12px;
    }
    .logo {
        width: 240px;
        padding: 15px 0 !important;
    }
    .sign-up, .sign-in {
        margin-left: 10px;
        padding: 6px 20px;
        font-size: 14px;
    }
    .banner {
        height: 185px;
        padding: 20px;
        background-size: cover;
        border-radius: 10px;
    }
    .header-sec {
        padding-bottom: 12px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .top-sec {
        background-color: #fff;
        margin-top: 40px;
        padding-top: 150px;
        border-radius: 10px;
    }
    .top-sec h2 {
        font-size: 28px;
    }
    .navbar-expand-sm {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .banner-title h1 {
        font-size: 32px;
        padding-top: 15%;
        padding-left: 10%;
    }
    .wd-60, .wd-48, .wd-15, .top-box {
        width: 90%;
        margin: 10px auto;
    }
    .abt-sec-left {
        padding: 50px 20px;
    }
    .container {
        max-width: 95% !important;
        /* padding: 10px; */
    }
    .navbar-expand-sm .navbar-collapse {
        flex-direction: column;
        align-items: flex-start;
    }
    .top-sec {
        padding: 10px;
    }
    .home-abt-us {
        padding: 20px;
    }
    .service-row img {
        max-width: 100px;
        padding: 10px;
    }
    .carousel-item {
        width: 150px;
        height: 100px;
    }
}

@media only screen and (max-width: 767px) {
    /* h1, h2, h3, h4, h5, h6 {
        font-size: calc(100% - 15px);
    }
    p, li, a, span, label {
        font-size: calc(100% - 10px);
    } */
    .menu-item li {
        font-size: 14px;
    }
    .menu-item a {
        font-size: 12px;
    }
    .logo {
        width: 240px;
        padding: 0 !important;
    }
    .sign-up, .sign-in {
        font-size: 16px;
        padding: 5px 15px;
        margin-left: 0;
    }
    .carousel-container h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    .form-container {
        padding: 10px;
    }
    .footer-sec {
        text-align: left;
        background-color: #fff;
        padding: 30px 30px 30px 30px;
    }
    .footer-sec h4{
        font-size: 18px;
        padding-bottom: 10px;
    }
    .pl-30 {
        padding-left: 10px;
    }
    .pl-35 {
        padding-left: 21px;
    }
    .text-al-lt {
        text-align: center;
    }
    .cr-sec p {
        font-size: 14px;
        text-align: center;
    } 
    .carousel-container {
        padding-top: 40px;
    }
    .text-al-rt {

        padding-top: 0px;
    }
    .wd-60 p {
        padding-bottom: 10px;
    }
    .banner-title h1 {
        font-size: 22px;
        padding-top: 28%;
        padding-left: 0;
    }
    .top-box-logi-con a {
        text-decoration: none;
        font-size: 22px;
    }
    .top-box-logi-con {
        padding: 40px;
        margin-top: 15px;
        margin-bottom: 30px;
    }
    .banner-shipping {
        height: 102px;
        background-size: contain;
    }
    .banner-shipping h1{
        padding-top: 4%;
    }
    .testimonial-track {
        width: 100%;
    }
    .top-box-logi-con {
        width: 100%;
    }
    .testimonial-item {
        padding: 1rem 0rem;
    }
    .mb-50 {
        margin-bottom: 0;
    }
    .middle-hiw-txt p {
        font-size: 16px;
    }
    .middle-hiw-txt-r p {
        font-size: 16px;
    }
    .top-sec-con {
        padding-top: 50px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .form-container-con {
        width: 100%;
        padding: 12px;
        padding-bottom: 50px;
    }
    .wd-47 {
        width: 100%;
    }
    .middle-hiw-txt {
        padding: 50px 25px 50px 25px;
        margin-bottom: 30px;
    }
    .middle-hiw-txt-r {
        padding: 50px 25px 50px 25px;
        margin-bottom: 30px;
    }
    .middle-hiw-img img {
        margin-bottom: 30px;
    }
    .pt-90 {
        padding-top: 50px;
        padding-bottom: 20px;
    }
    .mission {
        padding-top: 40px;
    }
    .mission h2 {
        font-size: 30px;
    }
    .prmgt-rc {
        background-color: #fff;
        padding: 40px;
        border-radius: 20px;
        /* height: auto; */
        max-height: fit-content;
    }
    .vs-lt img {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .text-center-css h2 {
        font-size: 32px;
        padding-bottom: 0;
    }
    .contact-sec p {
        font-size: 16px;
    }
    .wd-80 h2 {
        font-size: 24px;
    }
    .mb-10 {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    .text-center-css {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .prmgt-rc li {
        opacity: .8;
        font-size: 16px;
    }
    .wd-80 p {
        font-size: 16px;
        line-height: 26px;
    }
    .vs-lt {
        padding: 0;
    }
    .pb-50 {
        padding-bottom: 20px;
    }
    .middle-hiw-txt h1 {
        padding-bottom: 25px;
    }
    .vs-rt {
        background-color: #fff;
        padding: 40px;
        text-align: center;
        margin-top: 40px;
    }
    .middle-hiw-txt-r h1 {
        padding-bottom: 25px;
    }
    .form-container-con p {
        padding-bottom: 20px;
    }
    .wd-60, .wd-48, .wd-15, .top-box {
        width: 100%;
        margin: 5px auto;
    }
    .abt-sec-left {
        padding: 20px;
    }
    .navbar-toggler-icon {
        vertical-align:baseline;
    }
    .navbar-expand-sm .navbar-collapse {
        position: absolute;
        background-color: #fff;
        top:100%;
        width: 100%;
        padding-left: 20px;
        border: 2px solid green;
        border-radius: 20px;
    }
    .service-row img {
        max-width: 80px;
        padding: 5px;
    }
    .carousel-item {
        width: 120px;
        height: 80px;
    }
    .contact-sec-left {
        padding: 20px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .logo {
        width: 250px;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        font-size: 14px;
    }
    .banner{
        height: 380px;
    }
    .banner-title h1 {
        font-size: 40px;
    }
    .pt-75 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .wd-80 h2 {
        font-size: 28px;
    }
    .wd-80 p {
        font-size: 14px;
        line-height: 22px;
    }
    .pt-90 {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .pb-100 {
        padding-bottom: 25px;
    }
    .top-sec {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .wd-60 {
        width: 80%;
    }
    .vs-rt {
        padding: 50px;
        width: 100%;
        text-align: center;
    }
    .mission {
        padding-top: 70px;
    }
    .pb-50 {
        padding-bottom: 20px;
    }
    .mt-130 {
        margin-top: 80px;
    }
    .contact-sec-left {
        padding-right: 0;
        padding-left: 40px;
    }
    .footer-sec h4{
        font-size: 20px;
    }
    .footer-sec a{
        font-size: 14px;
    }
    .pt-80{
        padding-bottom: 0;
    }
    .top-box {
      
      width: 100%;
    }
    .top-sec h3 {
        font-size: 20px;
    }
    .abt-sec-left {
        padding: 0px 0px 25px 22px;
    }
    .abt-sec-left p {
        font-size: 16px;
        opacity: .8;
    }
    .abt-sec-right img{
        padding-top: 60px;
    }
    .carousel-container {
        padding-top: 60px;
    }
    .middle-hiw-txt {
        padding: 30px 0px 10px 30px;
    }
    .middle-hiw-txt h1 {
        padding-bottom: 0;
    }
    .middle-hiw-txt-r {
        padding: 30px 0px 10px 30px;
    }
    .middle-hiw-txt-r h1 {
        padding-bottom: 0;
    }
    .contact-sec h2 {
        font-size: 32px;
    }
    .banner-title h1 {
        padding-top: 4%;
        padding-left: 2%;
    }
    .top-box-logi-con {
        padding: 30px;
    }
    .top-box-logi-con a {
        font-size: 24px;
    }
    .top-sec-con {
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;
    }
    .banner-shipping{
        height: 135px;
    }
    .text-center-css {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .text-center-css h2 {
        font-size: 30px;
    }
    .prmgt-rc {
        max-height: fit-content;
        width: 100%;
    }
    .prmgt-rc li {
        font-size: 14px;
    }
    .search-button {
        padding: 6px 30px;
        font-size: 14px;
    }
    .vs-lt{
        width: 100%;
        padding: 0;
    }
    .vs-lt img {
        height: 450px;
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .mb-10 {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    /* .banner-title h1 {
        font-size: 32px;
        padding-top: 4%;
        padding-left: 0%;
    } */
}



@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .banner-shipping {
        height: 170px;
    }
    .banner-title h1 {
        padding-top:6%;
        padding-left: 2%;
    }
}